body {background:#000; font-family: 'Open Sans', sans-serif;}
h1,h2,h3,h4,h5,h6 {font-family:'Open Sans Condensed', sans-serif; font-weight:300; margin:.5em 0; line-height:100%; padding:0px;}
a {color:inherit; outline:0px; -moz-transition:color 0.3s ease; -o-transition:color 0.3s ease; -webkit-transition:color 0.3s ease; transition:color 0.3s ease;}

.container {margin: 0px 20px;}
@media screen and (min-width: 64em){
    .container {margin: 0px 80px;}
}

#page-wrap {position:relative; top:0px; box-sizing:border-box; min-height:85vh; overflow:hidden;}

header#main {position:relative;  top:0px; min-height:64px; box-sizing:border-box; color:white;
        -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.8));
        /*filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";*/
        filter: url(/img/drop-shadow.svg#dropshadow);
        filter: drop-shadow(0 1px 2px rgba(0,0,0,.8));
}
#page-wrap header .container, footer#ftr-main .container {display:flex;}
header#main .container::before,
header#main .container::after, 
header#main h1, header#main #header-spacer,
header#main nav ul li:not(.active) a {top:0px; height:64px; background:#000; background:rgba(0,0,0,0.6);}
header#main .container::before, header#main .container::after {position:absolute; width:20px; display:inline-block; content:" ";}
@media screen and (min-width: 64em){
    header#main .container::before, header#main .container::after {width: 80px;}
}
header#main .container::before {left:0px;}
header#main .container::after {right:0px;}
header#main h1 {line-height:64px; margin:0px; font-family: 'Roboto Condensed', sans-serif; font-size:36px; color:inherit;}
header#main h1 a#home-lnk {text-decoration:none; display:block; height:100%; box-sizing:border-box;}
header#main h1 a i {vertical-align:middle; letter-spacing:-.3em; margin-left:-.3em; font-weight:400;}
header#main #header-spacer {flex-grow:2;}

/*header#main nav::before {position:absolute; top:0px; right:-80px; height:64px; width:80px; display:inline-block; content:" "; background:#000; background:rgba(0,0,0,0.6);}*/
header#main nav {display:block; height:64px; flex-direction: row;}
header#main nav ul {list-style:none; margin:0px; padding:0px;}
header#main nav ul li {line-height:64px; display:inline-block; vertical-align:top; color:inherit; font-size: 24px; margin:0px;}
header#main nav ul li.active {color:rgba(255,255,255,0.3)}
header#main li.active a {background: transparent url(../img/btn-active.svg) no-repeat center;}
header#main nav ul li:not(.active) a {}
header#main nav ul li:not(.active) a:hover {color:#1e90ff;
    -moz-transition:color 0.3s ease;
	-o-transition:color 0.3s ease;
	-webkit-transition:color 0.3s ease;}
header#main nav ul li a {display:block; height:100%; color:inherit; padding:0px 24px; font-size:24px; text-align:center;}
header#main nav ul li a i {vertical-align:middle;}
header#main nav ul li a #code {letter-spacing:-.35em; margin-left:-.35em;}

/*Breadcrumbs*/
.breadcrumbs {margin: 20px 0px; font-size:12px;}
.breadcrumbs .container {background:#f0f0f0; padding: 3px 8px;}
.breadcrumbs ol {margin:0px; padding:0px;}
.breadcrumbs li {display:inline-block;}
.breadcrumbs li a {display:inline-block; color: #666; text-decoration:none;}
.breadcrumbs li:hover a {color:#000;}
.breadcrumbs li i.icon {font-size:inherit; vertical-align:middle; margin-top:-2px;}
.breadcrumbs li i:not(.icon) {display:inline-block; vertical-align:middle; margin-top:-2px; font-size:14px; padding: 0px 10px; cursor:default; opacity:.5}
.breadcrumbs li:last-child {opacity:.5; font-weight:300;}
.breadcrumbs li:last-child i:not(.icon) {display:none;}

#page-content {margin: 40px 0px; font-size:.875em;}

footer {color:white;}
footer a {text-decoration:none;}
#ftr-main {position:relative; padding:20px 0px; color:rgb(128,128,128); color:rgba(128,128,128,.4); overflow:hidden;}
#ftr-main .container #footer-spacer {flex-grow:2; height:64px; background:#000; background:rgba(0,0,0,0.6);}
#ftr-main .container a {flex-direction: row;}
#ftr-main a:hover {color:rgba(128,128,128,1);}
#ftr-main a h2 {display:inline-block; margin:0px; padding-right:2px; font-family: 'Roboto Condensed', sans-serif; font-size:17px; margin:0px; font-weight:400;}
#ftr-main a em {font-size:10px; font-style:normal;}
#ftr-main p {font-size:14px; font-family: 'Roboto Condensed', sans-serif; margin:0px;}
#ftr-pre {color:white; position:absolute; width:100%; bottom:0px; padding:20px 0px; background: rgba(0,0,0,.4) url(/img/js-code.png) no-repeat 60vw 0%; border-top:1px solid rgba(0,0,0,.8)}
#ftr-pre  #owner {display:none;}
#ftr-pre a {color:white; opacity:0.6;
    animation-play-state: paused;
    -webkit-animation: fadein 3s ease-in-out .5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s ease-in .5s; /* Firefox < 16 */
        -ms-animation: fadein 3s ease-in .5s; /* Internet Explorer */
         -o-animation: fadein 3s ease-in .5s; /* Opera < 12.1 */
            animation: fadein 3s ease-in .5s;
}
#ftr-pre a:hover {opacity:1; transition: opacity .2s cubic-bezier(.4,0,1,1)}

